<mat-card class="example-card mat-elevation-z7">
  <mat-card-content class="card-home">
    <div class="card-home-image">
      <img class="image-card-style" src="../../../../assets/pic.jpg" alt="" />
    </div>
    <div class="blank-card-div"></div>
    <div class="details-card-style">
      <h3>Rooms Available</h3>
      <h4>111</h4>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <mat-progress-bar class="progress-bar-card" mode="determinate" value="40"></mat-progress-bar>
  </mat-card-actions>

</mat-card>
