<mat-drawer-container class="example-container">
  <mat-drawer class="mat-elevation-z8" mode="side" opened>
    <br />
    <br />
    <h4 class="firstline">{{ logo | uppercase }}</h4>
    <img
      class="user-avatar-sidenav"
      src="../../../../assets/pic.jpg"
      alt="userimage"
    />
    <div class="biodata-sidenav">
      <p class="name-sidenav">{{ name }}</p>
      <p class="designation-sidenav">{{ designation }}</p>
    </div>
    <button class="home-button" mat-button color="primary" routerLink="/dashboard/home">
      <mat-icon class="home-button-icon" color="primary">home</mat-icon>
      <span> Home </span>
    </button>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="">face</mat-icon>
        </mat-panel-title>
        <mat-panel-description> Users </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item>
          <mat-icon> remove </mat-icon>
          <button mat-button routerLink="/dashboard/adduser">Add User</button>
        </mat-list-item>

        <mat-list-item>
          <mat-icon> add </mat-icon>
          <button mat-button routerLink="/dashboard/allusers">
            - All User
          </button>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-drawer>
  <mat-drawer-content>
    <app-topnav></app-topnav>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
