*{
 background-color:  #F5F6FA
}
.home-card-one {
  display: flex;

  flex-wrap: wrap;
  margin: 1vh 1vw;
}
app-card {
  margin: 1vh 1vw;
}
.chart-card-two {
  margin: 2vh 0 0 1vw;
  display: grid;
  grid-template-columns: 55vw;
  grid-auto-rows: 1000px;
}
